// Color variables (appears count calculates by raw css)
@white: #ffffff; // Appears 28 times
@darkgray: #434345; // Appears 14 times
@green: #008A84;
@gold: #DAAA00;

// Width variables (appears count calculates by raw css)
@fullwidth: 100%; // Appears 20 times

/*
Theme Name: Fast Horse Press
Description: FastHorse custom theme for wordpress. 
Author: Joseph Rstom at Fast Horse, Inc.
Author URI: http://presencemaker.com
Text Domain: fhpress
Version: 1.0
*/

/* --------------------------------------------------------------
	 Reset - originally based on 
	 Meyer's reset.css
	 http://meyerweb.com/eric/tools/css/reset/ 
----------------------------------------------------------------- */
::moz-selection{ background-color: @darkgray; color: @white; }
::webkit-selection{ background-color: @darkgray; color: @white; }
::selection{ background-color:@darkgray; color: @white; }
:focus { outline: 0; }
* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*behavior: url(js/boxsizing.htc);
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figure,figcaption,hgroup,menu,header,footer,nav,section,summary,time,
mark,audio,video { 
	font-family: inherit; 
	font-size: 100%; 
	font-weight: inherit; 
	font-style: inherit; 
	vertical-align: baseline; 
	white-space: normal;
	text-align: left; 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0;
	background: transparent; 
}
article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,
nav,section,audio,video, main {display:block;}
a img{border:0; line-height: 1px; }
figure{position:relative;}
figure img{width:100%;}
table {border-collapse: collapse; border-spacing: 0;}
input[type="text"],input[type="password"],input[type="search"],
input[type="email"],input[type="url"],input[type="tel"],textarea 
{ -webkit-appearance: none; border: 1px solid @darkgray; }

/* --------------------------------------------------------------
	 common elements/objects
----------------------------------------------------------------- */
/* lists */
.h-list, .v-list { list-style: none; margin: 0; padding: 0; width: 100%; }
.v-list li { display: block; }
.h-list li { display: block; float: left; }
.h-list a, .v-list a { display: block; }
.v-list a { width: 100%; }

/*responsive	images - responsive images ie8 height fix */
img { height: auto; max-width: 100%; display:block;}


/* container elements including cf (clearfix) */
html, body { width:100%;height:auto;overflow-x:hidden;position:relative;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; }

.site { 
	position: relative;display:block;border:0px solid @white;transition:border 0.8s ease;
	&.fixed {
		position:fixed;top:0;left:0;right:0;bottom:0;overflow:hidden;
	}
	@media screen and (min-width:800px) {
		display:none;
	}
}
.container { margin: 0 auto; position: relative; }
.col {
	display: block;
	float: left;
	width: 100%;
	text-align:inherit;
		* {
		text-align:inherit;
	}

	div {
		text-align:inherit;
			* {
			text-align:inherit;
		}
	}
}
.cf { *zoom: 1; }
.container:after,
.row:after, 
.col:after, 
.cf:after { 
	content: ""; 
	display: table; 
	clear: both; 
}

h1,h2,h3 {
	font-size:2em;
	font-weight:800;
	line-height:1.1em;
	margin-bottom:0.25em;
	@media screen and (min-width:800px) {
		font-size:3.5vw;
	}
	@media screen and (min-width:1200px) {
		font-size:3vw;
	}
}
h4,h5,h6 {
	font-size:1.5em;
	line-height:1.1em;
	margin-bottom:0.25em;
}
p, li, td {
	font-size:1.1em;
	line-height:1.3em;
	margin-bottom:0.5em;
	@media screen and (min-width:800px) {
		font-size:1.5vw;
	}
	@media screen and (min-width:1200px) {
		font-size:1.25vw;
	}
}
a {
	&:link, &:visited {
		color:@gold;
		text-decoration:none;
		transition:color 0.2s ease;
	}
	&:hover {
		color:@darkgray;
	}
	&.btn {
		display:inline-table;
		&:link, &:visited {
			color:@white;
			background:@gold;
			padding:0.75em 1.5em;
			border-radius:3px;
			text-decoration:none;
			text-transform:uppercase;
			font-weight:600;
			transition:background 0.4s ease;
		}
		&:hover {
			background:@darkgray;
		}
		&.round {
			&:link, &:visited {
				border-radius:1.5em;
			}
		}
	}
}

/* -----------------------------------------------------------
	this media query activates the grid
	as well as any other elements, such
	as aligned images. set the min-width 
	to whatever best fits the design. 

	default: 800px
-------------------------------------------------------------- */
@media screen and (min-width: 800px) {
	.col { margin: 0 0 0 0; }
	.col.span1 { width: 8.333%; }
	.col.span2 { width: 16.66%; }
	.col.span3 { width: 25%; }
	.col.span4 { width: 33.33%; }
	.col.span5 { width: 41.66%; }
	.col.span6 { width: 50%; }
	.col.span7 { width: 58.33%; }
	.col.span8 { width: 66.66%; }
	.col.span9 { width: 75%; }
	.col.span10 { width: 83.33%; }
	.col.span11 { width: 91.66%; }
	.col.span12 { width: 100%; }
	
	.float-left { float: left; }
	.float-right { float: right; }
	.float-clear { clear: both; }
	
	img.alignleft { float: left; margin: 0 1em 1em 0; }
	img.alignright { float: right; margin: 0 0 1em 1em; }
	
}
.valign {
	
	text-align:center;
	vertical-align:center;
	
	.vcenter {
		display:flex;
		text-align:center;
		vertical-align:center;
		justify-content:space-between;
		align-items:center;
		flex-direction:column;
		> * {
			text-align:center;
		}
	}
}


@font-face {
	font-family: 'icomoon';
	src:	url('fonts/icomoon.eot?exxgsc');
	src:	url('fonts/icomoon.eot?exxgsc#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?exxgsc') format('truetype'),
		url('fonts/icomoon.woff?exxgsc') format('woff'),
		url('fonts/icomoon.svg?exxgsc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before, .icon:before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
	content: "\e900";
}
.icon-filter:before {
	content: "\e902";
}
.icon-mission:before {
	content: "\e903";
}
.icon-news:before {
	content: "\e904";
}
.icon-stories:before {
	content: "\e905";
}
.icon-close:before {
	content: "\ea0f";
}
.icon-play:before {
	content: "\ea1c";
}


/* -----------------------------------------------------------
	header
-------------------------------------------------------------- */
.header {
	text-align:center;
	position:relative;
	
	background:url('images/') center center no-repeat;
	background-size:cover;
	padding:5vh;
	opacity:0;
	left:-100vw;
	height:auto;
	z-index:0;
	transition:opacity 1.5s ease, left 0s 1.5s ease, z-index 0s 1.5s, height 1.5s ease;
	&.isVisible {
		opacity:1;
		left:0;
		z-index:999;
		transition:opacity 1.5s 1.5s ease, left 0s ease, z-index 0s, height 1.5s ease;
	}
	.vcenter {
		position:relative;
		height:90vh;
		padding:5vh;
		> * {
			position:relative;
			z-index:99;
		}
		&:after {
			display:block;
			position:absolute;
			content:" ";
			z-index:1;
			background:@green;
			mix-blend-mode:multiply;
			top:0;left:0;
			right:0;bottom:0;
			border-top-left-radius:5vh 5vh;
			border-bottom-right-radius:5vh 5vh;
		}
		.logo {
			width:200px;
		}
		h2 {
			color:@white;
			font-size:1.75em;
			text-align:center;
			margin-bottom:0.5em;
		}
		p {
			color:@white;
			text-align:center;
			em {
				font-style:italic;
				
			}
		}
		
		.nav.h-list {	
			text-align:center;
			position:relative;
			background:transparent;
			padding:0px;
			top:0;left:0;
			box-shadow:0px 0px 0px transparent;
			transition:all 0s ease;
			li {
				display:inline-table;
				float:none;
				text-align:center;
				margin:0px 1.5em;
				a {
					&:link, &:visited {
						text-decoration:none;
						text-transform:uppercase;
						font-weight:800;
						font-size:0.8em;
						color:@white;
						span:before {
							font-size:1.5em;
							color:@gold;
							position:relative;
							top:0.2em;
							margin-right:0.2em;
						}
					}
					&:hover {
						color:@gold;
					}
					
				}
				@media screen and (orientation:portrait) {
					font-size:1em;
				}
				@media screen and (min-width:800px) {
					font-size:2vw;
				}
				@media screen and (min-width:800px) {
					font-size:1.5vw;
				}
			}
		}
		.sticky-wrapper {
			.nav.h-list {	
				position:relative;
				top:0;left:0;
			}	
			&.scrollFixed {
				.nav.h-list {
					&.hideNav {
						transform:translateY(-100%);
					}
					&:hover {
						transform:translateY(0);
					}
					transform:translateY(0);
					top:0;left:0;right:0;
					background:@white;
					padding:1em;
					box-shadow:0px 0px 10px fadeOut(@darkgray, 50%);
					transition:all 0.75s ease-in-out;
					li {
						a {
							&:link, &:visited {
								color:@darkgray;
								transition:color 0.5s ease-in-out;
							}
							&:hover {
								color:@gold;
							}
						}
					}
				}
			}
		}
		@media screen and (min-width:800px) {
			h2 {
				font-size:5vw;
			}
			.nav-list {
				li {
					a {
						&:link, &:visited {
							font-size:1em;
						}
					}
				}
			}
		}
		@media screen and (min-width:1300px) {
			h2 {
				font-size:4.5vw;
			}
		}
	}
}

/* -----------
	Video
------------ */
.modal.video {
	position:fixed;
	top:0;right:0;left:-100%;bottom:0;
	width:100%;
	height:100%;
	z-index:999;
	opacity:0;
	transition:opacity 0.3s ease, left 0s 0.3s ease;
	&.isVisible {
		opacity:1;
		left:0;
		transition:opacity 0.3s 0.3s ease, left 0s ease;

	}
	.close-button {
		width:2vw;
		height:2vw;
		position:absolute;
		display:block;
		top:1.5vw;right:1.5vw;
		opacity:0.8;
		transition:top 0.3s ease, opacity 0.3s ease;
		z-index:9992;
		cursor:pointer;
		span {
			color:@white;
			font-size:2vw;
		}
		&:hover {
			opacity:1;
			top:1.6vw;
		}
	}
	.overlay {
		display:block;
		position:absolute;
		top:0;right:0;bottom:0;left:0;
		width:100%;
		height:100%;
		z-index:9990;
		background-color:fadeOut(#000000, 20%);
		cursor:pointer;
	}
	.video-wrapper {
		display:block;
		position:absolute;
		top:2.5vw; left:2.5vw; right:2.5vw; bottom:2.5vw;
		padding:2.5vw;
		width:auto;
		height:auto;
		max-width:100%;
		z-index:9991;
		pointer-events:none;
	
		.plyr {
			position:absolute;
			top:50%;
			right:auto;
			left:50%;
			bottom:auto;
			transform:translate(-50%,-50%);
			z-index:9992;
			max-width:100%;
			max-height:100vh;
			min-width:75%;
			width:auto;
			height:auto;
			pointer-events: auto;
			
		}
	}
}



/* -----------
	Map
------------ */
.map-row {
	position:relative;
	display:block;
	background:@green;
	.story-headline {
		background:@green;
		opacity:1;
		display:block;
		z-index:9999;
		padding:5vw;
		pointer-events:none;
		h3 {
			text-transform:uppercase;
			font-size:1em;
			font-weight:400;
			color:@gold;
			text-align:left;
		}
		h1 {
			color:@white;
			text-align:left;
			font-size:1.75em;
		}
		
		@media screen and (min-width:800px) {
			position:absolute;
			top:30%;
			left:12.55%;
			transform:translateY(-50%);
			max-width:450px;
			padding:0px;
			opacity:0;
			background:transparent;
			transition:top 3s 4s ease, opacity 3s 4s ease;
			&.isVisible {
				transition:top 2s 0s ease, opacity 2s 0s ease;
				opacity:1;
				top:50%;
			}
			h3 {
				font-size:1em;
			}
			h1 {
				font-size:1.75em;
			}
			
		}
	}

	.story-info.isVisible, .filter-drawer.isVisible, .location-info.isVisible {
		transform:translateX(-100%);
		transition: transform 0.15s 0s ease-in-out;
	}
	
	.story-info, .filter-drawer {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 100.01%;
		z-index: 150;
		transform:translateX(0px);
		overflow-x: hidden;
		overflow-y: auto;
		transition: transform 0.15s 0.15s ease-in-out;
		padding:0px;
		background-color: #fff;
		padding:2.5vw 5vw;
	}
	
	.location-info {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 100.01%;
		z-index: 150;
		overflow-x: hidden;
		overflow-y: auto;
		transition: transform 0.15s ease-in-out;
		background-color: #fff;
		.location__hd {
			margin:5vw 0px 1em;
			padding:0px 5vw;
		}
	}
	
	.story-summaries {
		position: relative;
		overflow: auto;
		display: block;
		width: 100%;
		list-style: none;
		li {
			text-align: left;
			min-height: 9vw;
			padding: 2vw 5vw;
			cursor: pointer;
		}
	}

	.story-summary-excerpt {
		width: 100%;
		padding-left: 30%;
		font-size: .8em;
	}
	
	.story-summary:hover {
		background-color: rgb(248, 238, 206);
	}
	
	.story-summary-image {
		float: left;
		display: block;
		width: 25%;
	}
	
	.story-info {
		
		.story__hd {
			display:block;
			margin-bottom:1em;
			&:after {
				content:" ";
				clear:both;
				display:block;
			}
		}
		
		.story-info-accent-img {
			position: absolute;
			left: 0;
			top: 0;
			max-width: 45%;
			z-index: 100;
			pointer-events: none;
		}
		
		.story-info-accent-img.isReceded {
			z-index: -1;
		}
		
		#story-info-video-container {
			display:block;
			position:relative;
			width:100%;
			overflow:hidden;
			padding-top:56.25%;
			img {
				position:absolute;
				top:0;left:0;
				width:100%;
				height:auto;
				z-index:50;
			}
			a.play {
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				z-index:99;
			}
			&:after {
				content:" ";
				clear:both;
				display:block;
			}
		}
		.story-info-video {
			z-index: 20;
			width: 100%;
			position:absolute;
			top:0;left:0;
			max-width:100%;
			height:auto;
		}
		
		.story-info-gallery {
			a {
				width: 50%;
				padding: 3% 1.5% 0px;
				display: block;
				float: left;
				img {
					width:100%;
					height:auto;
				}
				&:nth-child(odd) {
					padding-left:0px;
					padding-right:1.5%;
				}
				&:nth-child(even) {
					padding-right:0px;
					padding-left:1.5%;
				}
				&.featured-image {
						width:100%;
						padding:3% 0px 0px;	
				}
			}
			&.has-featured-image {
				a {
					&:nth-child(even) {
						padding-left:0px;
						padding-right:1.5%;
					}
					&:nth-child(odd) {
						padding-right:0px;
						padding-left:1.5%;
					}
				}
			}
		}
		
		
		.story-info-button-div {
			text-align: center;
			margin:1em auto 0px;
			.btn {
				color:@white;
			}
		}
		
		.story-info-header {
			font-size:1.7em;
		}
		.story-info-body {
			font-size:0.9em;
		}
		
		.story-info-button {
			-webkit-appearance: button;
			-moz-appearance: button;
			appearance: button;
		
			text-align: center;
			padding: 2%;
			text-decoration: none;
			color: initial;
		}
		.story-footer {
			margin-top:2em;
			padding:1em 0px 0px;
			border-top:2px solid fadeOut(@darkgray, 50%);
			span.icon {
				
				&:before {
					display:inline-table;
					transform:rotate(180deg);
					font-size:0.8em;
				}
			}
		}
		
		.read-more {
			display:block;
			position:sticky;
			bottom:-2.5vw;
			top:auto;
			left:0px;right:0;
			text-align:center;
			padding:1em 2em 2em;
			background:@white;
			opacity:0;
			transition:opacity 0.3s ease;
			color:fadeOut(@darkgray, 50%);
			&.isVisible {
				opacity:1;
				display:block;
			}
			p {
				font-size:0.9em;
				text-transform:lowercase;
			}
			&:before {
				display: block;
				content: " ";
				position:absolute;
				top:-3em;
				bottom:auto;
				left:0px;right:0;
				pointer-events: none;
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				height:3em;
			}
			span {
				&:before {
					display:inline-table;
					transform:rotate(90deg);
					font-size:0.8em;
				}
			}
		}
		@media screen and (min-width:800px) {
			.story-info-header {
				font-size:2.35vw;
			}
			.story-info-body {
				font-size:1vw;
			}
			.read-more {
				p {
					font-size:1vw;
				}
			}
		}
		@media screen and (min-width:1200px) {
			.story-info-header {
				font-size:2vw;
			}
			.story-info-body {
				font-size:0.8vw;
			}
			.read-more {
				p {
					font-size:.9vw;
				}
			}
		}
	}
	
	.close-button {
		position: absolute;
		display: block;
		float: right;
		height: 1.5vw;
		width: 1.5vw;
		top: 2vw;
		right: 4vw;
		z-index: 990;
		cursor: pointer;
		color:@gold;
		transition:color 0.2s ease, top 0.2s ease;
		span {
			&:before {
		 		font-size:3vw;
			}
		}
		&:hover {
			color:@darkgray;
			top:2.2vw;
		}
		@media screen and (min-width:800px) {
			height: 1.5vw;
			width: 1.5vw;
			top: 2vw;
			right: 2vw;
			span {
				&:before {
			 		font-size:1.5vw;
				}
			}
		}
	}
	
	.filter-button {
		position: absolute;
		top: 3vw;
		right: 3vw;
		width: 6vw;
		height: 6vw;
		z-index: 50;
		cursor: pointer;
		background-color: #daaa00;
		color: #FFF;
		transition:background-color 0.2s ease, top 0.2s ease;
		&:hover {
			background:@darkgray;
			top:3.1vw;
		}
		span {
			height: 100%;
			width: 100%;
			display:flex;
			align-items: center;
			justify-content: center;
			&:before {
				font-size: 4.3vw;
				display: inline-block;
				text-align: center;
			}

		}
		@media screen and (min-width:800px) {
			top: 1.5vw;
			right: 1.5vw;
			width: 3.2vw;
			height: 3.2vw;
			&:hover {
				top:1.6vw;
			}
			span {
				&:before {
					font-size:2vw;
				}
			}
		}
		
	}
	
	
	
	.filter-drawer {
		.filter-head {
			margin-bottom:2em;
			h5 {
				color:@gold;
				font-weight:800;
				margin-bottom:2em;
				span {
					margin-right:0.25em;
					font-size:1.1em;
					position:relative;
					top:2px;
				}	
			}
		}
		.filter-category {
			padding:0px 0px 2em;
			margin:0px 0px 2em;
			border-bottom:2px solid fadeOut(@darkgray, 50%);
			h6 {
				opacity:0.8;
			}
			&:after {
				content:" ";
				display:block;
				clear:both;
			}
			.category-tag {
				display:block;
				width:50%;
				float:left;
			}
		}
		.radio-container {
			
			position:relative;
			display:block;
			
			input[type=radio]{
				position: absolute;
				visibility: hidden;
				top:50%;
				left:0px;
				transform:translateY(-50%);
			}
			label {
				padding:5px 5px 5px 2em;
				cursor: pointer;
				display:block;
				span {
					display:block;
					font-size:0.9em;
				}
			}
		
			.check {
				display: block;
				position: absolute;
				border: 1px solid fadeOut(@darkgray, 100%);
				border-radius: 100%;
				height: 20px;
				width: 20px;
				top:50%;
				left:0px;
				transform:translateY(-50%);
				z-index: 5;
				transition: border .15s linear;
				-webkit-transition: border .15s linear;
				pointer-events:none;
				
				&:before {
					display: block;
					position: absolute;
					content: '';
					border-radius: 100%;
					height: 20px;
					width: 20px;
					top:50%;
					left:0px;
					transform:translateY(-50%);
					margin: auto;
					background:fadeOut(@darkgray, 50%);
					transition: all 0.15s linear;
					-webkit-transition: all 0.15s linear;
				}
			}
			input[type=radio]:checked ~ .check {
				border: 1px solid @darkgray;
			}
			
			input[type=radio]:checked ~ .check::before{
				background: @gold;
				
				height:12px;
				width:12px;
				
				left:3px;
			}
		
		}
		
	}
	

	
	/* map */
	
	.map-row {
		background-color: rgb(31, 31, 31);
		background-size: 100% 100%;
		background-repeat: repeat;
	}
	
	.map {
		position: relative;
	
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	
		overflow:hidden;
		overflow-x:hidden;
	}
	
	.map-container {
		z-index:10;
		display: block;
		width: 100%;
		position: absolute;
		overflow:visible !important;
		&:before {
			content:" ";
			display:block;
			position:absolute;
			top:0;left:100%;
			width:100%;
			height:100%;
			background:url(images/Map_opt.jpg) center center repeat-x;
			background-size:100% auto;
		}
		&.isZoomed {
			width: 150%;
		}

	}
	

	
	#coords-debug {
		background-color: white;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 11;
	}
	
	.map-image {
		display: block;
		max-width: 10000px;
		width:100%;
		height: auto;
		z-index: -1;
	}
	
	.map svg {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.location-svg {
		cursor: pointer;
		fill-opacity:1.0;
		stroke-opacity:1.0;
		transition:fill-opacity 0.5s ease, stroke-opacity 0.5s ease;
		
	}
	
	.map-circle {
		fill: white;
		z-index: 11;
	}
	
	.map-counter-circle {
		fill: #DAAA26;
		z-index: 2;
	}
	
	.map-circle-text {
		font-size: .65vw;
		fill: #FFF;
		font-family: inherit;
		z-index: 2;
		transition:font-size 0.2s ease;
	}
	
	.map-circle-text.zooming {
		display: none;
	}
	
	.map-circle-text.zoomed {
		font-size: 1.4vw;
	}
	
	.map-circle-aura, .map-counter-aura {
		fill: @gold;
		fill-opacity: 0.0;
		stroke: white;
		stroke-width:1;
		z-index: 1;
	}
	
	.location-svg.isHidden, .counter-circle.isHidden {
		fill-opacity: 0.0;
		stroke-opacity: 0.0;
	}
	
	.selected-aura {
		fill-opacity: 0.6;
	}
	
	.site {
		display: contents;
	}
	
	story {
		display: none;
	}
}



/* -----------
	Content
------------ */
.row.content {
	padding:2em;
	position:relative;
	&.mission {
		
		.span6 {
			position:relative;
			padding:2em;
			img.overlay {
				position:absolute;
				top:0;
				right:-2em;
				max-width:80%;
			}
					
		}
		&:before {
			z-index:-1;
			position:absolute;
			content:" ";
			display:block;
			height:100%;
			top:50%;
			left:0px;right:0px;
			bottom:auto;
			background:url(images/topo.svg) top center no-repeat;
			background-size:cover;
		}
	}
	&.news {
		a {
			&.btn {
				&:link, &:visited {
					padding:0.75em 1.1em;
				}
			}
		}
	}
	
	h3 {
		text-transform:uppercase;
		font-size:1em;
		font-weight:400;
		color:@gold;
		text-align:left;
	}
	h1 {
		text-align:left;
	}
	p {
		margin-bottom:1em;
		text-align:left;
	}
	.post {
		padding-bottom:5em;
		position:relative;
		a {
			&.btn {
				text-align:center;
				margin:0px auto;
			}
		}
		img {
			border-top-right-radius:2em 2em;
			border-bottom-left-radius: 2em 2em;
		}
		p.source {
			margin:0.5em auto;
			padding:0px 0px 0.5em;
			border-bottom:2px solid @gold;
		}
		p:last-of-type {
			position:absolute;
			bottom:0;left:0;
			margin-bottom:0px;
		}
		h6 {
			font-weight:800;
		}
	}
	
	@media screen and (min-width:540px) {
		
	
		.post {
			max-width:50%;
			float:left;
			padding-right:3%;
		}
	}
	@media screen and (min-width:800px) {
		padding:5vw 7.5vw;
		
		h3 {
			font-size:1.75vw;
		}
		.col {
			/*&.span6 {
				
				&:first-child {
					padding-left:10vw;
				}
			}*/
			
		}
	
		.post {
			max-width:50%;
			float:left;
			padding-right:3%;
		}
		
		&.mission {
			.span6 {
				&:first-of-type {
					padding:0px 3vw 0px 0px;
		
				}
				&:last-of-type {
					padding:0px 0px 0px 3vw;
			
				}
				img.overlay {
					top:2.5vw;
					right:-7.5vw;
				}
			}
		}
	}
	@media screen and (min-width:1200px) {
		padding:10vw 15vw;
		h3 {
			font-size:1.25vw;
		}
		.post {
			max-width:23%;
			float:left;
			margin-right:2.6666667%;
			&:last-of-type {
				margin-right:0%;
			}
		}
		&.mission {
			.span6 {
				&:first-of-type {
					padding:0px 5vw 0px 0px;
		
				}
				&:last-of-type {
					padding:0px 0px 0px 5vw;
			
				}
				img.overlay {
					top:5vw;
					right:-15vw;
				}
			}
		}
	}
}


/* -----------
	Footer
------------ */
.footer {
	background:@darkgray;
	color:@white;
	padding:2em;
}


/* plyr */
@keyframes plyr-progress {
    to {
        background-position: 25px 0
    }
}

@keyframes plyr-popup {
    0% {
        opacity: .5;
        transform: translateY(10px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes plyr-fade-in {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.plyr {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    direction: ltr;
    font-family: inherit;
    font-variant-numeric: tabular-nums;
    font-weight: 300;
    font-size:0.8em;
    line-height: 1.7;
    max-width: 100%;
    min-width: 200px;
    position: relative;
    text-shadow: none;
    transition: box-shadow .3s ease
}

.plyr audio,
.plyr video {
    border-radius: inherit;
    height: auto;
    vertical-align: middle;
    width: 100%
}

.plyr button {
    font: inherit;
    line-height: inherit;
    width: auto
}

.plyr:focus {
    outline: 0
}

.plyr--full-ui {
    box-sizing: border-box
}

.plyr--full-ui *,
.plyr--full-ui::after,
.plyr--full-ui::before {
    box-sizing: inherit
}

.plyr--full-ui a,
.plyr--full-ui button,
.plyr--full-ui input,
.plyr--full-ui label {
    touch-action: manipulation
}

.plyr__badge {
    background: #4f5b5f;
    border-radius: 2px;
    color: #fff;
    font-size: 9px;
    line-height: 1;
    padding: 3px 4px
}

.plyr--full-ui::-webkit-media-text-track-container {
    display: none
}

.plyr__captions {
    animation: plyr-fade-in .3s ease;
    bottom: 0;
    color: #fff;
    display: none;
    font-size: 14px;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    transition: transform .4s ease-in-out;
    width: 100%
}

.plyr__captions .plyr__caption {
    background: rgba(0, 0, 0, .8);
    border-radius: 2px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 185%;
    padding: .2em .5em;
    white-space: pre-wrap
}

.plyr__captions .plyr__caption div {
    display: inline
}

.plyr__captions span:empty {
    display: none
}

@media (min-width:480px) {
    .plyr__captions {
        font-size: 16px;
        padding: 20px
    }
}

@media (min-width:768px) {
    .plyr__captions {
        font-size: 18px
    }
}

.plyr--captions-active .plyr__captions {
    display: block
}

.plyr:not(.plyr--hide-controls) .plyr__controls:not(:empty)~.plyr__captions {
    transform: translateY(-40px)
}

.plyr__control {
    background: 0 0;
    border: 0;
    border-radius: 3px;
    color: inherit;
    cursor: pointer;
    flex-shrink: 0;
    overflow: visible;
    padding: 7px;
    position: relative;
    transition: all .3s ease
}

.plyr__control svg {
    display: block;
    fill: currentColor;
    height: 18px;
    pointer-events: none;
    width: 18px
}

.plyr__control:focus {
    outline: 0
}

.plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px fadeOut(@gold, 50%);
    outline: 0
}

a.plyr__control {
    text-decoration: none
}

a.plyr__control::after,
a.plyr__control::before {
    display: none
}

.plyr__control.plyr__control--pressed .icon--not-pressed,
.plyr__control.plyr__control--pressed .label--not-pressed,
.plyr__control:not(.plyr__control--pressed) .icon--pressed,
.plyr__control:not(.plyr__control--pressed) .label--pressed {
    display: none
}

.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded=true] {
    background: @gold;
    color: #fff
}

.plyr--video .plyr__control svg {
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .15))
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: @gold;	
    color: #fff
}

.plyr__control--overlaid {
    background: fadeOut(@gold, 80%);
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    color: #fff;
    display: none;
    left: 50%;
    padding: 15px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2
}

.plyr__control--overlaid svg {
    left: 2px;
    position: relative
}

.plyr__control--overlaid:focus,
.plyr__control--overlaid:hover {
    background: #1aafff
}

.plyr--playing .plyr__control--overlaid {
    opacity: 0;
    visibility: hidden
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
    display: block
}

.plyr--full-ui::-webkit-media-controls {
    display: none
}

.plyr__controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-align: center
}

.plyr__controls .plyr__menu,
.plyr__controls .plyr__progress,
.plyr__controls .plyr__time,
.plyr__controls .plyr__volume,
.plyr__controls>.plyr__control {
    margin-left: 5px
}

.plyr__controls .plyr__menu+.plyr__control,
.plyr__controls .plyr__progress+.plyr__control,
.plyr__controls>.plyr__control+.plyr__control,
.plyr__controls>.plyr__control+.plyr__menu {
    margin-left: 2px
}

.plyr__controls>.plyr__control:first-child,
.plyr__controls>.plyr__control:first-child+[data-plyr=pause] {
    margin-left: 0;
    margin-right: auto
}

.plyr__controls:empty {
    display: none
}

@media (min-width:480px) {
    .plyr__controls .plyr__menu,
    .plyr__controls .plyr__progress,
    .plyr__controls .plyr__time,
    .plyr__controls .plyr__volume,
    .plyr__controls>.plyr__control {
        margin-left: 10px
    }
}

.plyr--audio .plyr__controls {
    background: #fff;
    border-radius: inherit;
    color: #4f5b5f;
    padding: 10px
}

.plyr--video .plyr__controls {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 20px 5px 5px;
    position: absolute;
    right: 0;
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    z-index: 3
}

@media (min-width:480px) {
    .plyr--video .plyr__controls {
        padding: 35px 10px 10px
    }
}

.plyr--video.plyr--hide-controls .plyr__controls {
    opacity: 0;
    pointer-events: none;
    transform: translateY(100%)
}

.plyr [data-plyr=airplay],
.plyr [data-plyr=captions],
.plyr [data-plyr=fullscreen],
.plyr [data-plyr=pip] {
    display: none
}

.plyr--airplay-supported [data-plyr=airplay],
.plyr--captions-enabled [data-plyr=captions],
.plyr--fullscreen-enabled [data-plyr=fullscreen],
.plyr--pip-supported [data-plyr=pip] {
    display: inline-block
}

.plyr__video-embed {
    height: 0;
    padding-bottom: 56.25%;
    position: relative
}

.plyr__video-embed iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}

.plyr--full-ui .plyr__video-embed>.plyr__video-embed__container {
    padding-bottom: 240%;
    position: relative;
    transform: translateY(-38.28125%)
}

.plyr__menu {
    display: flex;
    position: relative
}

.plyr__menu .plyr__control svg {
    transition: transform .3s ease
}

.plyr__menu .plyr__control[aria-expanded=true] svg {
    transform: rotate(90deg)
}

.plyr__menu .plyr__control[aria-expanded=true] .plyr__tooltip {
    display: none
}

.plyr__menu__container {
    animation: plyr-popup .2s ease;
    background: rgba(255, 255, 255, .9);
    border-radius: 4px;
    bottom: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    color: #4f5b5f;
    font-size: 16px;
    margin-bottom: 10px;
    position: absolute;
    right: -3px;
    text-align: left;
    white-space: nowrap;
    z-index: 3
}

.plyr__menu__container>div {
    overflow: hidden;
    transition: height .35s cubic-bezier(.4, 0, .2, 1), width .35s cubic-bezier(.4, 0, .2, 1)
}

.plyr__menu__container::after {
    border: 4px solid transparent;
    border-top-color: rgba(255, 255, 255, .9);
    content: '';
    height: 0;
    position: absolute;
    right: 15px;
    top: 100%;
    width: 0
}

.plyr__menu__container [role=menu] {
    padding: 7px
}

.plyr__menu__container [role=menuitem],
.plyr__menu__container [role=menuitemradio] {
    margin-top: 2px
}

.plyr__menu__container [role=menuitem]:first-child,
.plyr__menu__container [role=menuitemradio]:first-child {
    margin-top: 0
}

.plyr__menu__container .plyr__control {
    align-items: center;
    color: @darkgray;
    display: flex;
    font-size: 14px;
    padding: 4px 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%
}

.plyr__menu__container .plyr__control>span {
    align-items: inherit;
    display: flex;
    width: 100%
}

.plyr__menu__container .plyr__control::after {
    border: 4px solid transparent;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.plyr__menu__container .plyr__control--forward {
    padding-right: 28px
}

.plyr__menu__container .plyr__control--forward::after {
    border-left-color: rgba(79, 91, 95, .8);
    right: 5px
}

.plyr__menu__container .plyr__control--forward.plyr__tab-focus::after,
.plyr__menu__container .plyr__control--forward:hover::after {
    border-left-color: currentColor
}

.plyr__menu__container .plyr__control--back {
    font-weight: 500;
    margin: 7px;
    margin-bottom: 3px;
    padding-left: 28px;
    position: relative;
    width: calc(100% - 14px)
}

.plyr__menu__container .plyr__control--back::after {
    border-right-color: rgba(79, 91, 95, .8);
    left: 7px
}

.plyr__menu__container .plyr__control--back::before {
    background: #b7c5cd;
    box-shadow: 0 1px 0 #fff;
    content: '';
    height: 1px;
    left: 0;
    margin-top: 4px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 100%
}

.plyr__menu__container .plyr__control--back.plyr__tab-focus::after,
.plyr__menu__container .plyr__control--back:hover::after {
    border-right-color: currentColor
}

.plyr__menu__container .plyr__control[role=menuitemradio] {
    padding-left: 7px
}

.plyr__menu__container .plyr__control[role=menuitemradio]::after,
.plyr__menu__container .plyr__control[role=menuitemradio]::before {
    border-radius: 100%
}

.plyr__menu__container .plyr__control[role=menuitemradio]::before {
    background: rgba(0, 0, 0, .1);
    content: '';
    display: block;
    flex-shrink: 0;
    height: 16px;
    margin-right: 10px;
    transition: all .3s ease;
    width: 16px
}

.plyr__menu__container .plyr__control[role=menuitemradio]::after {
    background: #fff;
    border: 0;
    height: 6px;
    left: 12px;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: transform .3s ease, opacity .3s ease;
    width: 6px
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: #1aafff
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::after {
    opacity: 1;
    transform: translateY(-50%) scale(1)
}

.plyr__menu__container .plyr__control[role=menuitemradio].plyr__tab-focus::before,
.plyr__menu__container .plyr__control[role=menuitemradio]:hover::before {
    background: rgba(0, 0, 0, .1)
}

.plyr__menu__container .plyr__menu__value {
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: -5px;
    overflow: hidden;
    padding-left: 25px;
    pointer-events: none
}

.plyr--full-ui input[type=range] {
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    border-radius: 28px;
    color: @gold;	
    display: block;
    height: 20px;
    margin: 0;
    padding: 0;
    transition: box-shadow .3s ease;
    width: auto;
    max-width:100%;
}

.plyr--full-ui input[type=range]::-webkit-slider-runnable-track {
    background: 0 0;
    border: 0;
    border-radius: 2px;
    height: 4px;
    transition: box-shadow .3s ease;
    -webkit-user-select: none;
    user-select: none;
    background-image: linear-gradient(to right, currentColor var(--value, 0), transparent var(--value, 0))
}

.plyr--full-ui input[type=range]::-webkit-slider-thumb {
    background: #fff;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
    height: 14px;
    position: relative;
    transition: all .2s ease;
    width: 14px;
    -webkit-appearance: none;
    margin-top: -5px
}

.plyr--full-ui input[type=range]::-moz-range-track {
    background: 0 0;
    border: 0;
    border-radius: 2px;
    height: 4px;
    transition: box-shadow .3s ease;
    -moz-user-select: none;
    user-select: none
}

.plyr--full-ui input[type=range]::-moz-range-thumb {
    background: #fff;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
    height: 14px;
    position: relative;
    transition: all .2s ease;
    width: 14px
}

.plyr--full-ui input[type=range]::-moz-range-progress {
    background: currentColor;
    border-radius: 2px;
    height: 4px
}

.plyr--full-ui input[type=range]::-ms-track {
    background: 0 0;
    border: 0;
    border-radius: 2px;
    height: 4px;
    transition: box-shadow .3s ease;
    -ms-user-select: none;
    user-select: none;
    color: transparent
}

.plyr--full-ui input[type=range]::-ms-fill-upper {
    background: 0 0;
    border: 0;
    border-radius: 2px;
    height: 4px;
    transition: box-shadow .3s ease;
    -ms-user-select: none;
    user-select: none
}

.plyr--full-ui input[type=range]::-ms-fill-lower {
    background: 0 0;
    border: 0;
    border-radius: 2px;
    height: 4px;
    transition: box-shadow .3s ease;
    -ms-user-select: none;
    user-select: none;
    background: currentColor
}

.plyr--full-ui input[type=range]::-ms-thumb {
    background: #fff;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
    height: 14px;
    position: relative;
    transition: all .2s ease;
    width: 14px;
    margin-top: 0
}

.plyr--full-ui input[type=range]::-ms-tooltip {
    display: none
}

.plyr--full-ui input[type=range]:focus {
    outline: 0
}

.plyr--full-ui input[type=range]::-moz-focus-outer {
    border: 0
}

.plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
    box-shadow: 0 0 0 5px fadeOut(@gold, 50%);
    outline: 0
}

.plyr--full-ui input[type=range].plyr__tab-focus::-moz-range-track {
    box-shadow: 0 0 0 5px fadeOut(@gold, 50%);
    outline: 0
}

.plyr--full-ui input[type=range].plyr__tab-focus::-ms-track {
    box-shadow: 0 0 0 5px fadeOut(@gold, 50%);
    outline: 0
}

.plyr--full-ui.plyr--video input[type=range]::-webkit-slider-runnable-track {
    background-color: rgba(255, 255, 255, .25)
}

.plyr--full-ui.plyr--video input[type=range]::-moz-range-track {
    background-color: rgba(255, 255, 255, .25)
}

.plyr--full-ui.plyr--video input[type=range]::-ms-track {
    background-color: rgba(255, 255, 255, .25)
}

.plyr--full-ui.plyr--video input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(255, 255, 255, .5)
}

.plyr--full-ui.plyr--video input[type=range]:active::-moz-range-thumb {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(255, 255, 255, .5)
}

.plyr--full-ui.plyr--video input[type=range]:active::-ms-thumb {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(255, 255, 255, .5)
}

.plyr--full-ui.plyr--audio input[type=range]::-webkit-slider-runnable-track {
    background-color: rgba(183, 197, 205, .66)
}

.plyr--full-ui.plyr--audio input[type=range]::-moz-range-track {
    background-color: rgba(183, 197, 205, .66)
}

.plyr--full-ui.plyr--audio input[type=range]::-ms-track {
    background-color: rgba(183, 197, 205, .66)
}

.plyr--full-ui.plyr--audio input[type=range]:active::-webkit-slider-thumb {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(0, 0, 0, .1)
}

.plyr--full-ui.plyr--audio input[type=range]:active::-moz-range-thumb {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(0, 0, 0, .1)
}

.plyr--full-ui.plyr--audio input[type=range]:active::-ms-thumb {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(0, 0, 0, .1)
}

.plyr__poster {
    background-color: #000;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .2s ease;
    width: 100%;
    z-index: 1
}

.plyr--stopped.plyr__poster-enabled .plyr__poster {
    opacity: 1
}

.plyr__time {
    font-size: 14px
}

.plyr__time+.plyr__time::before {
    content: '\2044';
    margin-right: 10px
}

@media (max-width:767px) {
    .plyr__time+.plyr__time {
        display: none
    }
}

.plyr--video .plyr__time {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .15)
}

.plyr__tooltip {
    background: rgba(255, 255, 255, .9);
    border-radius: 3px;
    bottom: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
    color: #4f5b5f;
    font-size: 14px;
    font-weight: 500;
    left: 50%;
    line-height: 1.3;
    margin-bottom: 10px;
    opacity: 0;
    padding: 5px 7.5px;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, 10px) scale(.8);
    transform-origin: 50% 100%;
    transition: transform .2s .1s ease, opacity .2s .1s ease;
    white-space: nowrap;
    z-index: 2
}

.plyr__tooltip::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(255, 255, 255, .9);
    bottom: -4px;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 0;
    z-index: 2
}

.plyr .plyr__control.plyr__tab-focus .plyr__tooltip,
.plyr .plyr__control:hover .plyr__tooltip,
.plyr__tooltip--visible {
    opacity: 1;
    transform: translate(-50%, 0) scale(1)
}

.plyr .plyr__control:hover .plyr__tooltip {
    z-index: 3
}

.plyr__controls>.plyr__control:first-child .plyr__tooltip,
.plyr__controls>.plyr__control:first-child+.plyr__control .plyr__tooltip {
    left: 0;
    transform: translate(0, 10px) scale(.8);
    transform-origin: 0 100%
}

.plyr__controls>.plyr__control:first-child .plyr__tooltip::before,
.plyr__controls>.plyr__control:first-child+.plyr__control .plyr__tooltip::before {
    left: 16px
}

.plyr__controls>.plyr__control:last-child .plyr__tooltip {
    left: auto;
    right: 0;
    transform: translate(0, 10px) scale(.8);
    transform-origin: 100% 100%
}

.plyr__controls>.plyr__control:last-child .plyr__tooltip::before {
    left: auto;
    right: 16px;
    transform: translateX(50%)
}

.plyr__controls>.plyr__control:first-child .plyr__tooltip--visible,
.plyr__controls>.plyr__control:first-child+.plyr__control .plyr__tooltip--visible,
.plyr__controls>.plyr__control:first-child+.plyr__control.plyr__tab-focus .plyr__tooltip,
.plyr__controls>.plyr__control:first-child+.plyr__control:hover .plyr__tooltip,
.plyr__controls>.plyr__control:first-child.plyr__tab-focus .plyr__tooltip,
.plyr__controls>.plyr__control:first-child:hover .plyr__tooltip,
.plyr__controls>.plyr__control:last-child .plyr__tooltip--visible,
.plyr__controls>.plyr__control:last-child.plyr__tab-focus .plyr__tooltip,
.plyr__controls>.plyr__control:last-child:hover .plyr__tooltip {
    transform: translate(0, 0) scale(1)
}


.plyr--video.plyr--menu-open {
    overflow: visible
}

.plyr__video-wrapper {
    background: #000;
    border-radius: inherit;
    overflow: hidden;
    position: relative;
}

.plyr__progress {
    flex: 1;
    left: 7px;
    margin-right: 14px;
    position: relative
}

.plyr__progress input[type=range],
.plyr__progress__buffer {
    margin-left: -7px;
    margin-right: -7px;
    width: calc(100% + 14px)
}

.plyr__progress input[type=range] {
    position: relative;
    z-index: 2
}

.plyr__progress .plyr__tooltip {
    font-size: 14px;
    left: 0
}

.plyr__progress__buffer {
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    border-radius: 100px;
    height: 4px;
    left: 0;
    margin-top: -2px;
    padding: 0;
    position: absolute;
    top: 50%
}

.plyr__progress__buffer::-webkit-progress-bar {
    background: 0 0;
    transition: width .2s ease
}

.plyr__progress__buffer::-webkit-progress-value {
    background: currentColor;
    border-radius: 100px;
    min-width: 4px
}

.plyr__progress__buffer::-moz-progress-bar {
    background: currentColor;
    border-radius: 100px;
    min-width: 4px;
    transition: width .2s ease
}

.plyr__progress__buffer::-ms-fill {
    border-radius: 100px;
    transition: width .2s ease
}

.plyr--video .plyr__progress__buffer {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    color: rgba(255, 255, 255, .25)
}

.plyr--audio .plyr__progress__buffer {
    color: rgba(183, 197, 205, .66)
}

.plyr--loading .plyr__progress__buffer {
    animation: plyr-progress 1s linear infinite;
    background-image: linear-gradient(-45deg, rgba(47, 52, 61, .6) 25%, transparent 25%, transparent 50%, rgba(47, 52, 61, .6) 50%, rgba(47, 52, 61, .6) 75%, transparent 75%, transparent);
    background-repeat: repeat-x;
    background-size: 25px 25px;
    color: transparent
}

.plyr--video.plyr--loading .plyr__progress__buffer {
    background-color: rgba(255, 255, 255, .25)
}

.plyr--audio.plyr--loading .plyr__progress__buffer {
    background-color: rgba(183, 197, 205, .66)
}

.plyr__volume {
    align-items: center;
    display: flex;
    flex: 1;
    position: relative
}

.plyr__volume input[type=range] {
    margin-left: 5px;
    position: relative;
    display:inline-table;
    z-index: 2
}

@media (min-width:480px) {
    .plyr__volume {
        max-width: 90px
    }
}

@media (min-width:768px) {
    .plyr__volume {
        max-width: 110px
    }
}

.plyr--is-ios .plyr__volume {
    display: none!important
}

.plyr--is-ios.plyr--vimeo [data-plyr=mute] {
    display: none!important
}

.plyr:-webkit-full-screen {
    background: #000;
    border-radius: 0!important;
    height: 100%;
    margin: 0;
    width: 100%
}

.plyr:-moz-full-screen {
    background: #000;
    border-radius: 0!important;
    height: 100%;
    margin: 0;
    width: 100%
}

.plyr:-ms-fullscreen {
    background: #000;
    border-radius: 0!important;
    height: 100%;
    margin: 0;
    width: 100%
}

.plyr:fullscreen {
    background: #000;
    border-radius: 0!important;
    height: 100%;
    margin: 0;
    width: 100%
}

.plyr:-webkit-full-screen video {
    height: 100%
}

.plyr:-moz-full-screen video {
    height: 100%
}

.plyr:-ms-fullscreen video {
    height: 100%
}

.plyr:fullscreen video {
    height: 100%
}

.plyr:-webkit-full-screen .plyr__video-wrapper {
    height: 100%;
    width: 100%
}

.plyr:-moz-full-screen .plyr__video-wrapper {
    height: 100%;
    width: 100%
}

.plyr:-ms-fullscreen .plyr__video-wrapper {
    height: 100%;
    width: 100%
}

.plyr:fullscreen .plyr__video-wrapper {
    height: 100%;
    width: 100%
}

.plyr:-webkit-full-screen .plyr__video-embed {
    overflow: visible
}

.plyr:-moz-full-screen .plyr__video-embed {
    overflow: visible
}

.plyr:-ms-fullscreen .plyr__video-embed {
    overflow: visible
}

.plyr:fullscreen .plyr__video-embed {
    overflow: visible
}

.plyr:-webkit-full-screen.plyr--vimeo .plyr__video-wrapper {
    height: 0;
    top: 50%;
    transform: translateY(-50%)
}

.plyr:-moz-full-screen.plyr--vimeo .plyr__video-wrapper {
    height: 0;
    top: 50%;
    transform: translateY(-50%)
}

.plyr:-ms-fullscreen.plyr--vimeo .plyr__video-wrapper {
    height: 0;
    top: 50%;
    transform: translateY(-50%)
}

.plyr:fullscreen.plyr--vimeo .plyr__video-wrapper {
    height: 0;
    top: 50%;
    transform: translateY(-50%)
}

.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen {
    display: block
}

.plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen {
    display: block
}

.plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen {
    display: block
}

.plyr:fullscreen .plyr__control .icon--exit-fullscreen {
    display: block
}

.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen+svg {
    display: none
}

.plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen+svg {
    display: none
}

.plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen+svg {
    display: none
}

.plyr:fullscreen .plyr__control .icon--exit-fullscreen+svg {
    display: none
}

.plyr:-webkit-full-screen.plyr--hide-controls {
    cursor: none
}

.plyr:-moz-full-screen.plyr--hide-controls {
    cursor: none
}

.plyr:-ms-fullscreen.plyr--hide-controls {
    cursor: none
}

.plyr:fullscreen.plyr--hide-controls {
    cursor: none
}

@media (min-width:1024px) {
    .plyr:-webkit-full-screen .plyr__captions {
        font-size: 21px
    }
    .plyr:-moz-full-screen .plyr__captions {
        font-size: 21px
    }
    .plyr:-ms-fullscreen .plyr__captions {
        font-size: 21px
    }
    .plyr:fullscreen .plyr__captions {
        font-size: 21px
    }
}

.plyr:-webkit-full-screen {
    background: #000;
    border-radius: 0!important;
    height: 100%;
    margin: 0;
    width: 100%
}

.plyr:-webkit-full-screen video {
    height: 100%
}

.plyr:-webkit-full-screen .plyr__video-wrapper {
    height: 100%;
    width: 100%
}

.plyr:-webkit-full-screen .plyr__video-embed {
    overflow: visible
}

.plyr:-webkit-full-screen.plyr--vimeo .plyr__video-wrapper {
    height: 0;
    top: 50%;
    transform: translateY(-50%)
}

.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen {
    display: block
}

.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen+svg {
    display: none
}

.plyr:-webkit-full-screen.plyr--hide-controls {
    cursor: none
}

@media (min-width:1024px) {
    .plyr:-webkit-full-screen .plyr__captions {
        font-size: 21px
    }
}

.plyr:-moz-full-screen {
    background: #000;
    border-radius: 0!important;
    height: 100%;
    margin: 0;
    width: 100%
}

.plyr:-moz-full-screen video {
    height: 100%
}

.plyr:-moz-full-screen .plyr__video-wrapper {
    height: 100%;
    width: 100%
}

.plyr:-moz-full-screen .plyr__video-embed {
    overflow: visible
}

.plyr:-moz-full-screen.plyr--vimeo .plyr__video-wrapper {
    height: 0;
    top: 50%;
    transform: translateY(-50%)
}

.plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen {
    display: block
}

.plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen+svg {
    display: none
}

.plyr:-moz-full-screen.plyr--hide-controls {
    cursor: none
}

@media (min-width:1024px) {
    .plyr:-moz-full-screen .plyr__captions {
        font-size: 21px
    }
}

.plyr:-ms-fullscreen {
    background: #000;
    border-radius: 0!important;
    height: 100%;
    margin: 0;
    width: 100%
}

.plyr:-ms-fullscreen video {
    height: 100%
}

.plyr:-ms-fullscreen .plyr__video-wrapper {
    height: 100%;
    width: 100%
}

.plyr:-ms-fullscreen .plyr__video-embed {
    overflow: visible
}

.plyr:-ms-fullscreen.plyr--vimeo .plyr__video-wrapper {
    height: 0;
    top: 50%;
    transform: translateY(-50%)
}

.plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen {
    display: block
}

.plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen+svg {
    display: none
}

.plyr:-ms-fullscreen.plyr--hide-controls {
    cursor: none
}

@media (min-width:1024px) {
    .plyr:-ms-fullscreen .plyr__captions {
        font-size: 21px
    }
}

.plyr--fullscreen-fallback {
    background: #000;
    border-radius: 0!important;
    height: 100%;
    margin: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000000
}

.plyr--fullscreen-fallback video {
    height: 100%
}

.plyr--fullscreen-fallback .plyr__video-wrapper {
    height: 100%;
    width: 100%
}

.plyr--fullscreen-fallback .plyr__video-embed {
    overflow: visible
}

.plyr--fullscreen-fallback.plyr--vimeo .plyr__video-wrapper {
    height: 0;
    top: 50%;
    transform: translateY(-50%)
}

.plyr--fullscreen-fallback .plyr__control .icon--exit-fullscreen {
    display: block
}

.plyr--fullscreen-fallback .plyr__control .icon--exit-fullscreen+svg {
    display: none
}

.plyr--fullscreen-fallback.plyr--hide-controls {
    cursor: none
}

@media (min-width:1024px) {
    .plyr--fullscreen-fallback .plyr__captions {
        font-size: 21px
    }
}

.plyr__ads {
    border-radius: inherit;
    bottom: 0;
    cursor: pointer;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1
}

.plyr__ads>div,
.plyr__ads>div iframe {
    height: 100%;
    position: absolute;
    width: 100%
}

.plyr__ads::after {
    background: rgba(47, 52, 61, .8);
    border-radius: 2px;
    bottom: 10px;
    color: #fff;
    content: attr(data-badge-text);
    font-size: 11px;
    padding: 2px 6px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    z-index: 3
}

.plyr__ads::after:empty {
    display: none
}

.plyr__cues {
    background: currentColor;
    display: block;
    height: 4px;
    left: 0;
    margin: -2px 0 0;
    opacity: .8;
    position: absolute;
    top: 50%;
    width: 3px;
    z-index: 3
}

.plyr--no-transition {
    transition: none!important
}

.plyr__sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    border: 0!important;
    height: 1px!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important
}

.plyr [hidden] {
    display: none!important
}

/**
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
html.with-featherlight {
    overflow: hidden
}

.featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: #333;
    background: rgba(0, 0, 0, 0)
}

.featherlight:last-of-type {
    background: rgba(0, 0, 0, .8)
}

.featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.featherlight .featherlight-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding:0px;
    
	margin-left: 7.5%;
    margin-right: 7.5%;
    max-height: 90%;
    background: #fff;
    cursor: auto;
    white-space: normal
}

.featherlight .featherlight-inner {
    display: block
}

.featherlight link.featherlight-inner,
.featherlight script.featherlight-inner,
.featherlight style.featherlight-inner {
    display: none
}

.featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 25px;
    right:25px;
    line-height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: transparent;
    transition:all 0.3s ease;
    color: @gold;
    border: 0;
    padding: 0;
    span {
	    &:before {	   
		    font-size:2em;
		    text-shadow:0px 0px 5px @darkgray;
		}
    }
    &:hover {
	    top:26px;
	    color:@white;
    }
}

.featherlight .featherlight-close-icon::-moz-focus-inner {
    border: 0;
    padding: 0
}

.featherlight .featherlight-image {
    width: 100%
}

.featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch
}

.featherlight iframe {
    border: 0
}

.featherlight * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@media only screen and (max-width:1024px) {
    .featherlight .featherlight-content {
        margin-left: 0;
        margin-right: 0;
        max-height: 98%;
        padding: 10px 10px 0;
        border-bottom: 10px solid transparent
    }
}

@media print {
    html.with-featherlight>*>:not(.featherlight) {
        display: none
    }
}

/**
 * Featherlight Gallery – an extension for the ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
.featherlight-next,
.featherlight-previous {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    left: auto;
    width:5em;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition:all 0.3s ease;
    background: rgba(0, 0, 0, 0)
}

.featherlight-previous {
    left: 0px;
    right: auto;
    span:before {
	    display:inline-table;
	    transform:rotate(180deg);
    }
}

.featherlight-next:hover,
.featherlight-previous:hover {
    background: fadeOut(@darkgray, 50%);
    background-blend-mode:multiply;
}

.featherlight-next > span,
.featherlight-previous > span {
    display: none;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 82%;
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    margin-top: -40px;
    text-shadow: 0 0 5px @darkgray;
    color:@gold;
    font-style: normal;
    font-weight: 400
}

.featherlight-next > span {
    right: 5%;
    left: auto
}

.featherlight-next:hover > span,
.featherlight-previous:hover > span {
    display: inline-block
}

.featherlight-first-slide.featherlight-last-slide .featherlight-next,
.featherlight-first-slide.featherlight-last-slide .featherlight-previous,
.featherlight-loading .featherlight-next,
.featherlight-loading .featherlight-previous,
.featherlight-swipe-aware .featherlight-next,
.featherlight-swipe-aware .featherlight-previous {
    display: none
}

@media only screen and (max-device-width:1024px) {
    .featherlight-next:hover,
    .featherlight-previous:hover {
        background: 0 0
    }
    .featherlight-next > span,
    .featherlight-previous > span {
        display: block
    }
}

@media only screen and (max-width:1024px) {
    .featherlight-next,
    .featherlight-previous {
        top: 10px;
        right: 10px;
        left: 85%
    }
    .featherlight-previous {
        left: 10px;
        right: 85%
    }
    .featherlight-next > span,
    .featherlight-previous > span {
        margin-top: -30px;
        font-size: 40px
    }
}

